html {
    color: #EAD7D1;
    background-color: #342E37;
}

body {
    margin: 0;
    padding: 0;
}

#projects svg {
    fill: #EAD7D1;
}

.links-container {
    padding: 0;
    margin: 0;
    margin-top: calc(15px + 7vw);
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.links-container svg {
    fill: white;
    height: 10vw;
}

@media screen and (min-width: 1200px) {
    .links-container svg {
        height: 4rem;
    }
}

#projects {
    margin-top: 5vw;
    font-style: italic;
}

a {
    color: white;
}

a:hover {
    color: #f03a47;
}

svg:hover {
    fill: #f03a47;
}

h1 {
    color: #f03a47;
}