body {
    font-family: 'Source Sans Pro', sans-serif;
}

.header-image {
    background-image: url("code.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

.has-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.has-equal-height .card-footer {
    margin-top: auto;
}

#about {
    font-weight: 100;
}